nav{
  background-color:#610DA1;
  position:fixed;
  display:inline;
  top:0;
  width:100%;
  border:1px solid black;
}


h1{
  color:#610DA1;
  font-size:50px;
  font-style:italic;
}
h2{
  color:#610DA1;
}
body
{
  background:#ADAD97
}
h3{
  color:#610DA1;
  display:inline;
  width:400px;
  height:150px;
}
img{
  height:300px;
  width:25%;
  display:inline;
}
li{
  display:inline;
}
